* {
    font-size: 18px;
    box-sizing: border-box;
  }
  .container {
    color: #6A3910;
    background-color: #CCF6C8;
    padding-left:0px;
    padding-right:0px;
    width:100vw;
    height:100vh;
  }
  
    /* Navigation Menu */
  nav {
    background: #f7fded;
    box-sizing:0;
  }


    li.nav-font  {
      display: inline-block; /* horizontal display*/
      padding: 0.5rem;
      cursor: pointer;
      margin: 8px;
      padding:8px;
      padding-top:0px;
      border: 2px solid #6A3910;
    }
    a {
      color: #6A3910;
      text-decoration: none;
    }
        li.nav-font:hover a {
          color: #6A3910;

          text-decoration: none;
          font-weight:bold;
          box-sizing: border-box !important;
        }

  /* Container 1 */

  .profile {
    background-color: #CCF6C8;
    width:100%;
  }  

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding:0px;
    margin:0px;

  }

  /* Container Area 2 */
  .formación {
    /* width:100vw;
    height: 65vh; */
    background-color: #f7fded;
  }

  .boxes {
    margin: 10px;
    padding: 20px;
    border: 2px solid #C9485a;
    background-color: #f7fded;
  }

  ul.formación {
    list-style-type: square;
  }


  /* Container Area 3  */
 .contacto {
  background-color: #CCF6C8;
  width:100%;
 }
 .contacto:hover a {
  color: #6A3910;
 }


  /* Footer*/
  footer {
    background-color: #f7fded;
    padding-left: 30px;
    padding-top: 30px;
  }


  /* Icons */
  .icons a {
    display:inline-block;
    margin:10px;
    font-weight:bold;

  }
    .icons a:hover {
      color: #C9485a;
    }


   /* Images */
  section.ocean {
    width: 60vw;
    height: 20vw;
    margin: 0 auto;
  }

  section.contact-container {
    width: 25vw;
    height:25vh;
    align-self: center;
    justify-self:center;
    margin:0px;
  }
  .image-ocean, .contact-image {
    width: 99%;
    height: 100%;
  }

  .profile-image {
    width: 120%;
  }

  .square {
    margin: 5px;
    border-radius: 5px;
    border:  2px solid #C9485a;
  }

  /* Fonts */
  body {
    color: #6A3910;
  }
  h1 {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 50px;
  }
  h2 {
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 40px;
  }
  h3, h4, h5 {
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: 25px;
  }
  .nav-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
  }
  p, li {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 18px;
  }
  .small {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

  #header-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-top: 20px;
    margin-right:15px;
  }

  /* Extras */
  
  .padding1 {
    padding: 30px;
    padding-top:15px;
  }
  .padding2 {
    padding: 30px;
    padding-bottom: 0px;
  }
  .padding3 {
    padding-top: 10px;
  }
  .padding4 {
    padding-bottom: 20px;
  }
  .no-margin {
    margin:0px;
  }


  